---
import Layout from '../layouts/Layout.astro';

const base = import.meta.env.BASE_URL;
---

<Layout title="Portfolio - Josh Ribakoff">
  <div class="page">
    <h1>Portfolio</h1>
    <ul class="timeline">
      <li class="element">
        <div class="time">
          <time class="label">2020</time>
        </div>
        <div class="contents">
          <div class="description">
            <h2>Bloomberg</h2>
            <p>Senior Software Engineer</p>
            <p>
              Global financial data and analytics company providing real-time
              market data, news, and trading tools to professionals worldwide.
            </p>
            <h3>Technologies</h3>
            <div class="tags">
              <span class="tag">React</span>
              <span class="tag">TypeScript</span>
            </div>
          </div>
          <div class="photo">
            <img src={`${base}images/bloomberg.svg`} alt="Bloomberg" />
          </div>
        </div>
        <div class="divider"></div>
      </li>

      <li class="element">
        <div class="time">
          <time class="label">Feb 2020</time>
        </div>
        <div class="contents">
          <div class="description">
            <h2>Cruise</h2>
            <p>Senior Software Engineer</p>
            <p>
              An American self-driving car company headquartered in San
              Francisco, California
            </p>
          </div>
          <div class="photo">
            <img src={`${base}images/cruise.png`} />
          </div>
        </div>
        <div class="divider"></div>
      </li>

      <li class="element">
        <div class="time">
          <time class="label">Aug 2018</time>
        </div>
        <div class="contents">
          <div class="description">
            <h2>Amazon / Twitch</h2>
            <p>Senior Software Engineer (react)</p>
            <p>
              Twitch is a live streaming video platform owned by Twitch
              Interactive, a subsidiary of Amazon.
            </p>
          </div>
          <div class="photo">
            <img src={`${base}images/twitch.png`} />
          </div>
        </div>
        <div class="divider"></div>
      </li>

      <li class="element">
        <div class="time">
          <time class="label">Feb 2015</time>
        </div>
        <div class="contents">
          <div class="description">
            <h2>Isite Software / EMS Linq</h2>
            <p>Distrupting the school lunch room</p>
            <p>
              Isite Software is a web, mobile & digital signage platform
              for over 1,000 school districts viewed by millions of students
              daily
            </p>
            <ul>
              <li>a drag & drop interactive online calendar menu designer</li>
              <li>
                a network of thousands of IOT devices & custom digital
                signage administration software & campaign designer
              </li>
            </ul>
            <a class="button" href={`${base}isite/`}>More details</a>
            <h3>Technologies</h3>
            <div class="tags">
              <a class="tag" href="http://docker.com/" target="_blank">Docker</a>
              <a class="tag" href="https://www.vagrantup.com/" target="_blank">Vagrant</a>
              <a class="tag" href="https://www.ansible.com/" target="_blank">Ansible</a>
              <a class="tag" href="https://aws.amazon.com/" target="_blank">AWS</a>
              <a class="tag" href="https://www.mongodb.com/" target="_blank">Mongo</a>
              <a class="tag" href="https://www.mysql.com/" target="_blank">Mysql</a>
              <a class="tag" href="https://nodejs.org/en/" target="_blank">NodeJS</a>
              <a class="tag" href="http://php.net/" target="_blank">PHP</a>
              <a class="tag" href="https://symfony.com/" target="_blank">Symfony</a>
              <a class="tag" href="https://silex.symfony.com/" target="_blank">Silex</a>
              <a class="tag" href="https://angularjs.org/" target="_blank">Angular JS</a>
              <a class="tag" href="https://reactjs.org/" target="_blank">React</a>
              <a class="tag" href="https://redux.js.org/" target="_blank">Redux</a>
              <a class="tag" href="https://webpack.js.org/" target="_blank">Webpack</a>
              <a class="tag" href="http://babeljs.io/" target="_blank">Babel</a>
              <a class="tag" href="https://socket.io/" target="_blank">SocketIO</a>
              <a class="tag" href="http://pm2.keymetrics.io/" target="_blank">Pm2</a>
              <a class="tag" href="http://supervisord.org/" target="_blank">Supervisor</a>
              <a class="tag" href="https://graphql.org/" target="_blank">GraphQL</a>
              <a class="tag" href="http://gearman.org/" target="_blank">Gearman</a>
              <a class="tag" href="https://www.ffmpeg.org/" target="_blank">ffmpeg</a>
              <a class="tag" href="https://developers.google.com/web/updates/2017/04/headless-chrome" target="_blank">Headless Chrome</a>
            </div>
          </div>
          <div class="photo">
            <img src={`${base}images/isite.png`} />
          </div>
        </div>
        <div class="divider"></div>
      </li>

      <li class="element">
        <div class="time">
          <time class="label">Jan 2014</time>
        </div>
        <div class="contents">
          <div class="description">
            <h2>Entertainment Company</h2>
            <p>Paid membership video streaming platform</p>
            <p>
              This company, based in San Diego, produced premium video content
              for consumption by paid members
            </p>
            <ul>
              <li>a membership signup & billing management platform</li>
              <li>
                a video transcoding pipeline with preview thumbnails &
                playback heatmaps for analytics
              </li>
            </ul>
            <h3>Technologies</h3>
            <div class="tags">
              <a class="tag" href="https://www.mysql.com/" target="_blank">Mysql</a>
              <a class="tag" href="http://php.net/" target="_blank">PHP</a>
              <a class="tag" href="https://silex.symfony.com/" target="_blank">Silex</a>
              <a class="tag" href="https://angularjs.org/" target="_blank">Angular JS</a>
              <a class="tag" href="https://aws.amazon.com/" target="_blank">AWS</a>
            </div>
          </div>
          <div class="photo">
            <img src={`${base}images/video.jpeg`} />
          </div>
        </div>
        <div class="divider"></div>
      </li>

      <li class="element">
        <div class="time">
          <time class="label">Jun 2013</time>
        </div>
        <div class="contents">
          <div class="description">
            <h2>Paquin Healthcare</h2>
            <p>Healthcare supply chain experts</p>
            <p>
              Paquin provides all in one e-commerce solutions and generates
              new revenues for 300+ healthcare providers
            </p>
            <ul>
              <li>Healthcare re-imbursement portal for Optum insurance</li>
              <li>
                Secure encrypted messaging platform iRemedy integrated with
                withings scale & blood pressure monitors
              </li>
            </ul>
            <h3>Technologies</h3>
            <div class="tags">
              <a class="tag" href="http://php.net/" target="_blank">PHP</a>
              <a class="tag" href="https://www.magento.com/" target="_blank">Magento</a>
              <a class="tag" href="https://jquery.com/" target="_blank">Jquery</a>
            </div>
          </div>
          <div class="photo">
            <img src={`${base}images/paquin.png`} />
          </div>
        </div>
        <div class="divider"></div>
      </li>

      <li class="element">
        <div class="time">
          <time class="label">Apr 2013</time>
        </div>
        <div class="contents">
          <div class="description">
            <h2>BMV Corp</h2>
            <p>Debt Management Experts</p>
            <p>
              BMV Corp helped consumers with debt negotiate better rates with
              creditors & disbursed funds on behalf of consumers
            </p>
            <ul>
              <li>Wrote a RTF to HTML / HTML to RTF conversion algorithm</li>
              <li>
                50+ variations of legal contracts for PDF / CUPs document
                generation & printing system
              </li>
            </ul>
            <h3>Technologies</h3>
            <div class="tags">
              <a class="tag" href="http://php.net/" target="_blank">PHP</a>
              <a class="tag" href="https://framework.zend.com/" target="_blank">Zend</a>
              <a class="tag" href="https://jquery.com/" target="_blank">Jquery</a>
            </div>
          </div>
          <div class="photo">
            <img src={`${base}images/illuminati.jpeg`} />
          </div>
        </div>
        <div class="divider"></div>
      </li>

      <li class="element">
        <div class="time">
          <time class="label">Mar 2013</time>
        </div>
        <div class="contents">
          <div class="description">
            <h2>Fame Fitness</h2>
            <p>Turn-key luxury fitness management</p>
            <p>
              Fame Fitness provided a white glove experience for high rises
              & luxury condominiums in Miami, staffing the gyms &
              providing one on one personal training & massage
            </p>
            <ul>
              <li>
                a self service booking system with credit card payments &
                credit system
              </li>
              <li>a personalized health & vital tracker</li>
            </ul>
            <a class="button" href={`${base}famefitness/`}>More details</a>
            <h3>Technologies</h3>
            <div class="tags">
              <a class="tag" href="http://php.net/" target="_blank">PHP</a>
              <a class="tag" href="https://jquery.com/" target="_blank">Jquery</a>
              <a class="tag" href="https://www.mysql.com/" target="_blank">Mysql</a>
            </div>
          </div>
          <div class="photo">
            <img src={`${base}images/famefitness/famefit-cal.png`} />
          </div>
        </div>
        <div class="divider"></div>
      </li>

      <li class="element">
        <div class="time">
          <time class="label">Jan 2008</time>
        </div>
        <div class="contents">
          <div class="description">
            <h2>Vehicle Fits</h2>
            <p>Aftermarket parts lookup tool</p>
            <p>
              I initially founded Vehicle Fits to provide a year/make/model
              lookup tool, it quickly expanded to a generalized fitments tool
              used by multiple vertical industries.
            </p>
            <ul>
              <li>a dynamic schema system / custom fields engine</li>
              <li>
                industry specific plugins like wheel & tire fitments, bolt
                patterns tools, bulk import tools, etc..
              </li>
            </ul>
            <h3>Technologies</h3>
            <div class="tags">
              <a class="tag" href="http://php.net/" target="_blank">PHP</a>
              <a class="tag" href="https://jquery.com/" target="_blank">Jquery</a>
              <a class="tag" href="https://www.mysql.com/" target="_blank">Mysql</a>
              <a class="tag" href="https://www.magento.com/" target="_blank">Magento</a>
            </div>
          </div>
          <div class="photo">
            <img src={`${base}images/vehiclefits/website.png`} />
          </div>
        </div>
        <div class="divider"></div>
      </li>

      <li class="element">
        <div class="time">
          <time class="label">Jan 2006</time>
        </div>
        <div class="contents">
          <div class="description">
            <h2>Marinas.com</h2>
            <p>The premier website for marine information</p>
            <ul>
              <li>a custom Google Maps clone</li>
              <li>a turn-key data ingestion system using geo-clustering</li>
            </ul>
            <a class="button" href={`${base}marinas/`}>More details</a>
            <h3>Technologies</h3>
            <div class="tags">
              <a class="tag" href="http://php.net/" target="_blank">PHP</a>
              <a class="tag" href="https://jquery.com/" target="_blank">Jquery</a>
              <a class="tag" href="https://www.mysql.com/" target="_blank">Mysql</a>
            </div>
          </div>
          <div class="photo">
            <img src={`${base}images/marinas/page3.jpg`} />
          </div>
        </div>
        <div class="divider"></div>
      </li>
    </ul>
  </div>
</Layout>

<style>
  .page {
    padding: 1rem 0;
  }

  .page h1 {
    margin-bottom: 2rem;
  }

  .timeline {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .element {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
  }

  .divider {
    border-bottom: 1px solid var(--border);
    margin-left: 160px;
    height: 30px;
    margin-bottom: 30px;
    clear: both;
  }

  .time {
    line-height: 1.5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    padding: 30px 15px;
    padding-top: 0;
    color: var(--text-secondary);
    text-align: right;
    font-style: italic;
    border-right: 1px solid var(--border);
  }

  .label {
    display: block;
    font-family: "Roboto Mono", monospace;
    position: relative;
    font-size: 0.9rem;
  }

  .label::after {
    content: " ";
    position: absolute;
    top: 10px;
    right: -17.5px;
    display: block;
    width: 8px;
    height: 8px;
    background-color: var(--accent);
    border-radius: 50%;
  }

  .contents {
    margin-left: 150px;
  }

  .description {
    font-family: "Open Sans", sans-serif;
  }

  .description h2 {
    margin-top: 0;
    margin-bottom: 0.25rem;
  }

  .description h3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
    color: var(--text-secondary);
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .description p {
    color: var(--text-secondary);
    margin-bottom: 0.5rem;
  }

  .description ul {
    color: var(--text-secondary);
    margin-bottom: 1rem;
  }

  .photo img {
    max-width: 100%;
    border-radius: 4px;
  }

  .placeholder-logo {
    width: 80px;
    height: 80px;
    background: linear-gradient(135deg, #ff6b35, #f7931e);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    font-family: "Roboto Mono", monospace;
  }

  @media (min-width: 1000px) {
    .description {
      float: left;
      width: 50%;
    }

    .photo {
      float: left;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }

  .button {
    display: inline-block;
    margin-top: 10px;
    background-color: var(--accent);
    border: none;
    color: #0a0a0a;
    padding: 0.6em 1.2em;
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
    transition: background-color 0.2s ease;
  }

  .button:hover {
    background-color: var(--accent-hover);
    color: #0a0a0a;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }

  .tag {
    display: inline-block;
    background-color: var(--bg-card);
    border: 1px solid var(--border);
    color: var(--text-secondary);
    padding: 4px 10px;
    font-size: 0.75rem;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    border-radius: 3px;
    transition: border-color 0.2s ease;
  }

  .tag:hover {
    border-color: var(--accent);
    color: var(--accent);
  }

  @media (max-width: 768px) {
    .time {
      position: relative;
      width: auto;
      border-right: none;
      text-align: left;
      padding: 0 0 0.5rem 0;
    }

    .label::after {
      display: none;
    }

    .contents {
      margin-left: 0;
    }

    .divider {
      margin-left: 0;
    }
  }
</style>
